//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// button styles: default, primary, warning, danger, success, info
// --------------------------------------------------
@mixin btn-style($btn-style: primary){
	@if $btn-style == primary {@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);}
	@else if $btn-style == default {@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border); }
	@else if $btn-style == warning {@include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border); }
	@else if $btn-style == danger {@include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border); }
	@else if $btn-style == success {@include button-variant($btn-success-color, $btn-success-bg, $btn-success-border); }
	@else if $btn-style == info {@include button-variant($btn-info-color, $btn-info-bg, $btn-info-border); }
}	 


// Button Sizes: large, small, xsmall, block, default
// --------------------------------------------------

@mixin btn-size($btn-size){
	@if $btn-size == large {
		@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);}
	@else if $btn-size == small {
		@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);}
	@else if $btn-size == xsmall {
		@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
		padding: 1px 5px;}
	@else if $btn-size == block {display: block; width: 100%; padding-left: 0; padding-right: 0;}
	@else if $btn-size == default {padding: $padding-base-vertical $padding-base-horizontal; font-size: $font-size-base;line-height: $line-height-base;border-radius: $border-radius-base;}
}


// Core styles
@mixin btn($btn-style: primary, $btn-size: default) {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  @include user-select(none);

  &:focus {
    @include tab-focus();
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
  @include btn-style($btn-style);
  @include btn-size($btn-size);
  
}






// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}



// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
